services:
  backend:
    build: ./backend
    ports:
      - "8080:8080"
    environment:
      - AI_SERVICE_URL=http://ai-service:5001
    depends_on:
      - ai-service

  ai-service:
    build: ./ai-service
    ports:
      - "5001:5001"
    volumes:
      - ./ai-service/model:/app/model

  website:
    build: ./frontend/website
    ports:
      - "3000:3000"
    environment:
      - NEXT_PUBLIC_API_URL=http://localhost:8080/api/v1
    depends_on:
      - backend
